.loginDiv {
    padding-left: 2%;
    margin-top: 8ch;
    margin-left: 15ch;
    width: 32%;
    border: solid 0.5ch rgb(156, 209, 218);
    font-family: cursive;
    border-radius: 20%;
    background-color: white;
    opacity: 0.9;
}

.paraLogin {
    text-align: center;
    font-size: 2em;
    margin-bottom: auto;
}

.inputLogin {
    height: 4ch;
    width: 80%;
    border-radius: 5ch;
    border: solid 0.5ch rgb(183, 233, 235);
    text-align: center;
    font-family: cursive;
    margin-left: 3ch;
    margin-bottom: 3ch;
}

.lblLogin {
    margin-left: 4ch;
}

.btnLogin {
    text-align: center;
    margin-left: 30%;
    margin-bottom: 3ch;
    border-radius: 5ch;
    border: solid 0.5ch rgb(183, 233, 235);
    width: 15ch;
    height: 10vh;
    font-family: cursive;
    font-size: 1em;
    background-color: white;
}

.btnLogin:hover {
    cursor: pointer;
    color: rgb(26, 26, 75);
}

.messageLogin {
    text-align: center;
}

