.links {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 5ch;
  margin-top: 3ch;
  justify-content: center;
  font-family: cursive;
  margin-left: 15ch;
}

._links {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  gap: 8ch;
  margin-top: 2.4ch;
  justify-content: center;
  font-family: cursive;
  margin-left: 20ch;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 3ch;
  margin-left: 3ch;
  margin-right: 3ch;
  padding-top: 2ch;
  /* border: solid 0.5ch rgb(156, 209, 218); */
  border-bottom: solid 0.5ch black;
  border-left: solid 0.5ch black;
  border-radius: 3ch;
  background-color: white;
  opacity: 0.9;
}

#pic {
  display: flex;
  flex-direction: row;
  font-size: 2.5em;
  margin-top: 0.3ch;
  margin-left: 1ch;
}

.paraTitle {
  font-size: 1.5em;
  font-family: cursive;
  font-weight: bold;
  margin-left: 0.6ch;
  color: rgb(105, 105, 212);
}

.paraTitle2 {
  font-size: 1.5em;
  font-family: cursive;
  font-weight: bold;
  margin-left: 0.5ch;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgb(74, 74, 212);
}

#listPic {
  margin-right: 0.5ch;
}

#_listPic {
  font-size: 0.9em;
  margin-right: 0.4ch;
  margin-bottom: 0.4ch;
}

#listLogin {
  margin-right: 0.4ch;
}


.btnLogout {
  font-family: cursive;
  border: none;
  background-color: white;
  font-size: 1em;
}

.btnLogout:hover {
  cursor: pointer;
  color: rgb(74, 74, 212);
}
