.mainDiv {
    border: solid 0.5ch rgb(156, 209, 218);
    border-radius: 3ch;
    margin-left: 3ch;
    margin-right: 3ch;
    margin-top: 3ch;
    background-color: white;
    opacity: 0.9;
}

.header_PList {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    margin-left: 2ch;
}

#list {
    font-size: 2em;
    margin-top: 0.6ch;
}

.tableList {
    text-align: center;
    margin-left: 1ch;
    margin-right: 1ch;
    margin-bottom: 2ch;
    font-family: cursive;
}

.paraList {
    font-size: 1.5em;
    font-family: cursive;
    font-weight: bold;
}

.thList, .tdList {
    height: 3vh;
    width: 30ch;
    border: solid 0.2ch rgb(156, 209, 218);
}

.tdGender, .thGender {
    width: 15ch;
    height: 3vh;
    border: solid 0.2ch rgb(156, 209, 218);
}

.tdAllergy, .thAllergy {
    width: 10ch;
    height: 3vh;
    border: solid 0.2ch rgb(156, 209, 218);
}

.thName {
    width: 50ch;
    height: 3vh;
    border: solid 0.2ch rgb(156, 209, 218);
}

td:hover {
    background-color: rgb(236, 233, 233);
}

.btnName {
    font-family: cursive;
    font-size: 1em;
    border: none;
    background-color: white;
    width: 100%;
}


.btnName:hover {
    cursor: pointer;
    color: blue;
    background-color: rgb(236, 233, 233);

}


.btnEdit, .btnDelete {
    font-family: cursive;
    border-radius: 1ch;
    background-color: white;
    border: solid 0.1ch rgb(156, 209, 218);
    width: 8ch;
    font-size: 1em;
}

.btnDelete:hover, .btnEdit:hover {
    cursor: pointer;
    color: blue;
}