.registerDiv {
    /* display: flex;
    flex-direction: column; */
    padding-left: 2%;
    margin-top: 3ch;
    margin-left: 20%;
    width: 60%;
    border: solid 0.5ch rgb(156, 209, 218);
    font-family: cursive;
    border-radius: 20%;
    
}

.paraReg {
    text-align: center;
    font-size: 2em;
    margin-bottom: auto;
}

.inputRegister {
    height: 4ch;
    width: 60%;
    border-radius: 5ch;
    border: solid 0.5ch rgb(183, 233, 235);
    text-align: center;
    font-family: cursive;
    margin-left: 3ch;
}

.lblRegister {
    margin-left: 5%;
}

.btnRegister {
    text-align: center;
    margin-top: 3ch;
    margin-left: 35%;
    margin-bottom: 1ch;
    border-radius: 5ch;
    border: solid 0.5ch rgb(183, 233, 235);
    width: 15ch;
    height: 10vh;
    font-family: cursive;
    font-size: 1em;
    background-color: white;
}

.btnRegister:hover {
    cursor: pointer;
    color: rgb(26, 26, 75);
}

.messageRegister {
    text-align: center;
}